<!-- templates/house_list.html -->
{% extends "base_generic.html" %}

{% block content %}
  <h2>The Houses</h2>
  
  <!-- Filter Form -->
  <form method="GET" class="form-inline mb-4">
    <div class="form-group">
      <label for="min_price">Min Price:</label>
      <input type="number" step="500" class="form-control" name="min_price" id="min_price" value="{{ filter_form.min_price.value }}">
    </div>
    <div class="form-group">
      <label for="max_price">Max Price:</label>
      <input type="number" step="500" class="form-control" name="max_price" id="max_price" value="{{ filter_form.max_price.value }}">
    </div>
   
    <div class="form-group">
      <label for="min_rooms">Min Rooms:</label>
      <input type="number" class="form-control" name="min_rooms" id="min_rooms" value="{{ filter_form.min_rooms.value }}">
    </div>
    <div class="form-group">
      <label for="max_rooms">Max Rooms:</label>
      <input type="number" class="form-control" name="max_rooms" id="max_rooms" value="{{ filter_form.max_rooms.value }}">
    </div>
    <div class="form-group">
      <label for="min_area">Min Area:</label>
      <input type="number" step="0.01" class="form-control" name="min_area" id="min_area" value="{{ filter_form.min_area.value }}">
    </div>
    <div class="form-group">
      <label for="max_area">Max Area:</label>
      <input type="number" step="0.01" class="form-control" name="max_area" id="max_area" value="{{ filter_form.max_area.value }}">
    </div>
    <div class="form-group">
      <label for="countries">Country:</label>
      <input type="text" name="countries" id="countries" value="">
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
    <a href="{% url 'house_list' %}" class="btn btn-secondary">Clear Filter</a>
  </form>

  
  <div class="card-container">
    {% for house in houses %}
      <div class="card" >
        <div class="card-body">
          <img src="{{ house.get_image_url }}" alt="{{ house.title }}" class="card-img-top">
          <h5 class="card-title">{{ house.title }} {{house.owner.username}}</h5>
          <p class="card-text">{{ house.price }} - {% if house.is_for_sale %}For Sale{% else %}For Rent{% endif %}</p>
          <a href="/house/{{ house.id }}" class="btn btn-primary">See The Details</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="center">
    <div class="pagination">
      {% if houses.has_previous %}
        <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a>
        <a href="?page={{ houses.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">previous</a>
      {% endif %}

      {% for num in houses.paginator.page_range %}
        {% if houses.number == num %}
          <a href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="active">{{ num }}</a>
        {% else %}
          <a href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if houses.has_next %}
        <a href="?page={{ houses.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">next</a>
        <a href="?page={{ houses.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a>
      {% endif %}
    </div>
  </div>
{% endblock %}